{% extends 'base.html' %}
{% block title %}关于我们{% endblock %}
{% block nav_about_us_active %}
active
{% endblock %}
{% block nav_about_us_active1 %}
    active
{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        <li>当前位置：<a href="#">荣誉资质</a></li>
        <li class="active"></li>
    </ol>
    <div class="page-header" style="margin-top: 10px;">
        <h1>关于我们 <small>关于我们</small></h1>
    </div>
    <p>{{ content.content|safe }}</p>

    <address>
        <strong>公司地址：北京市海淀区昌运宫7号楼1幢三层3040</strong><br>
        邮政编码：100089<br>
        公司电话：010-62532940<br>
        联系人：任经理<br>
        <abbr title="Phone">联系电话：</abbr>13707730187
    </address>
    <address>
        <strong>上海办事处：上海威怀贸易发展有限公司</strong><br>
        地址：上海浦东新区南六公路699弄两港装饰城D幢二楼欧普照明<br>
        联系人：徐经理<br>
        <abbr title="Phone">联系电话:</abbr> 13817807560
    </address>
    <address>
        <strong>南京办事处：江苏沃睿亚新能源科技有限公司</strong><br>
        地址：南京市雨花经济开发区凤华路18号<br>
        联系人：王经理<br>
        <abbr title="Phone">联系电话:</abbr> 025-85575321
    </address>
    <address>
        <strong>银川办事处：宁夏贺农科技有限公司</strong><br>
        地址：宁夏银川市贺兰县复兴北街中阿幸福里电商产业园，（宁夏大学科技园）D栋407室<br>
        联系人：高经理<br>
        <abbr title="Phone">联系电话:</abbr> 13309515021
    </address>
    <address>
        <strong>桂林办事处：桂林耀鑫机电设备有限公司</strong><br>
        地址：桂林市八里街三号工业区福利路<br>
        联系人：莫经理<br>
        <abbr title="Phone">联系电话:</abbr> 13707730187
    </address>


{% endblock %}